<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_bootstrapCSS') %>
    <title>URL - <%= id %></title>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <a href="<%= longURL %>"><%= longURL %></a></h5>
        <p class="card-text">
          Short URL ID: <a href="/u/<%= id %>"><%= id %></a>
        </p>
        <h5 class="card-title">
          Edit
        </h5>
        <form action="/urls/<%= id %>/edit" method="POST">
          <div class="form-group">
            <label for="newURL">New URL:</label>
            <input
              type="text"
              name="newURL"
              placeholder="http://"
              style="width: 300px; margin: 1em"
            />
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <form method="POST" action="/urls/<%= id %>/delete"><button class="btn btn-danger">Delete</button></form>
      </div>
      <div class="card-footer text-muted">
        </form>
      </div>
    </div>
    <%- include('partials/_bootstrapJS') %>
  </body>
</html>