<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_bootstrapCSS') %>
    <title>URL - <%= url.id %></title>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <a href="<%= url.longURL %>"><%= url.longURL %></a></h5>
        <p class="card-text">
          Short URL ID: <a href="/u/<%= url.id %>"><%= url.id %></a>
        </p>
        <p class="card-text">
          Times visited: <%= url.timesVisited %>
        </p>
        <p class="card-text">
          Unique visitors: <%= url.uniqueVisitors %>
        </p>
      </div>
    </div>
    <div class="card text-center">
        <h5 class="card-title">
          Edit
        </h5>
        <form action="/urls/<%= url.id %>/edit" method="POST" class="form-inline">
          <div class="form-group mx-auto">
            <label for="newURL">New URL:</label>
            <input
              class="form-control"
              type="text"
              name="newURL"
              placeholder="http://"
              style="width: 300px; margin: 5px"
            />
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
          <form method="POST" action="/urls/<%= url.id %>/delete"><button class="btn btn-danger">Delete</button></form>
      </div>
      <div class="card-footer text-muted"></div>
    </div>
    <h3 style="margin: 1em;">Visit List</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Visitor ID</th>
          <th scope="col">Time Stamp</th>
        </tr>
      </thead>
      <tbody>
        <% for (const visit of url.visits) { %>
          <tr>
            <td><%= visit.visitorId %>
              <% if (visit.visitorId === visitorId) { %>
                <a> (You)</a>
              <% } %>
            </td>
            <td><%= visit.timeStamp;  %></td>
        <% } %>
      </tbody>
    </table>
    <%- include('partials/_bootstrapJS') %>
  </body>
</html>