<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_bootstrapCSS') %>
    <title>URL - <%= id %></title>
  </head>

  <body>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <a href="<%= longURL %>"><%= longURL %></a></h5>
        <p class="card-text">
          Short URL ID: <a href="/url/<%= id %>"><%= id %></a>
        </p>
      </div>
      <div class="card-footer text-muted"></div>
    </div>
    <%- include('partials/_bootstrapJS') %>
  </body>
</html>